<ul class="px-4 py-2 flex flex-col gap-6">
  <ng-container *ngIf="loading === 'LOADING'">
    <li
      class="animate-pulse pb-6 border-b-2 border-gray-500 last:border-0"
      *ngFor="let i of [0, 1, 2]"
    >
      <app-article-preview-skeleton></app-article-preview-skeleton>
    </li>
  </ng-container>

  <ng-container *ngIf="loading !== 'LOADING'">
    <li
      class="pb-6 border-b-2 flex flex-col gap-3 border-gray-500 last:border-0"
      *ngFor="let article of articles"
    >
      <app-profile [article]="article"></app-profile>
      <app-article-preview [article]="article"></app-article-preview>
    </li>
  </ng-container>
</ul>

<nav class="mt-10">Navigation here</nav>
