<ul class="px-4 py-2 flex flex-col gap-6">
  <ng-container *ngIf="loading === 'LOADING'">
    <li
      class="animate-pulse pb-6 border-b-2 border-gray-500 last:border-0"
      *ngFor="let i of [0, 1, 2]"
    >
      <app-article-preview-skeleton></app-article-preview-skeleton>
    </li>
  </ng-container>

  <ng-container *ngIf="loading !== 'LOADING'">
    <li
      class="pb-6 border-b-2 flex flex-col gap-3 border-gray-500 last:border-0"
      *ngFor="let article of articles"
    >
      <app-profile [article]="article"></app-profile>
      <app-article-preview [article]="article"></app-article-preview>
    </li>
  </ng-container>

  <nav class="mt-10">
    <ul class="flex flex-wrap">
      <li
        *ngFor="let page of totalPages"
        class="w-10 h-10 border border-gray-600 flex items-center justify-center cursor-pointer font-semibold hover:bg-primary hover:text-white hover:font-bold hover:border-primary rounded-sm"
        [ngClass]="{
          'bg-primary text-white font-bold border-primary': page === currentPage
        }"
        (click)="setPage(page)"
      >
        {{ page }}
      </li>
    </ul>
  </nav>
</ul>
