<app-hero></app-hero>

<div
  class="flex flex-col md:flex-row justify-between gap-5 px-5 sm:px-10 md:px-20 py-5"
>
  <div class="flex-[4] flex flex-col">
    <ul class="flex">
      <li class="feed--button">
        <a>Your Feed</a>
      </li>
      <li class="feed--button"><a>Global Feed</a></li>
    </ul>

    <app-article-list
      class="pt-3 border-t border-gray-400"
      [limit]="10"
      [config]="listConfig"
    ></app-article-list>
  </div>

  <div
    class="flex-[1] bg-zinc-900 rounded-lg px-4 py-2 md:px-6 md:py-4 max-h-[300px]"
  >
    <h4 class="text-xl mb-4">Popular tags</h4>
    <p class="flex gap-2 flex-wrap">
      <span class="tag--list">eos</span>
    </p>
  </div>
</div>
